#bootstrap-overrides #main{
  margin-top: 100px;


}
#bootstrap-overrides{

  font-family: 'Karla', sans-serif;
}

#cover_image{
  width: 300px;
  height: 300px;
}
#wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#lyrics_container{
  margin: 4vw 0vw;
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: center;


}
#lyrics_container p {
  margin: 0.4rem;
}

#song_container{
  display: flex;

}
#song_container div{
  margin: 3%;

}

#sticky-footer {
  flex-shrink: none;
}
#bootstrap-overrides .navbar-brand{
  color: #1DB954;
}

#welcome-text-container{
  margin-top: 10vw;
  max-width: 50%;
  text-align: center;
}
#logon-button-container{
  margin-top: 50px;
}

#login-button{
  font-size: 25px;

  background-color: #1DB954;
  color: #FFFF;
  border: none;
  padding: 25px 120px 27px;
  text-decoration: none;
  border-radius: 500px;
  transition-duration: .3s;


}

#login-button:hover {
  background-color: #4bdf80;

}

.nav-item div{

}
#display_name_container_container{
  margin-left:auto;
}
#top_song_container{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  justify-content: center;
  width: 100%;
}
.song-item{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.top-song-graphics-container{
  display:flex;
  justify-content: flex-end;
  width: 20%;
  margin-right: 10px;
}

.top-song-info-container{
  width: 50%;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: column-reverse;

}
.top-placement-container{
  margin-left: auto;
  margin-right: 10px;

}

.song-item div{

}

#myTab{
  width:100%;
}

#form-container{
  width:80%;
}

#bootstrap-overrides .nav-tabs .nav-link.active{
  color: #1DB954;

}
#bootstrap-overrides .nav-tabs a{
  color: #6c757d;

}
a { cursor: pointer; }

.not-playing-image-container{
  width: 80%;
  margin-top: 20px;
}
.not-playing-image-container img{
  width: 100%;
  height: 100%;
}
.not-playing-info-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  justify-content: center;
}
